<html>
    <body>
	    <h2>Schreibe im Chat!</h2> <br/>
        <form action="/" method="post">
            <div>Username: <input name="name" /></div> <br/>
            <div>Nachricht: <textarea name="content" rows="3" cols="60"></textarea></div> <br/>
            <div><input type="submit" value="Abschicken"></div><br/><br/>
        </form>
		
        {% if results %}
            <h2>Chat</h2>

            {% for row in results %}
                <div><strong> {{ row.username }} </strong> hat geschrieben: <br> {{ row.message }}</div>
            {% endfor %}
        {% endif %}


    </body>
</html>
